go 1.21.1

use (
	./appointment-service
	./authentication-service
	./broker-service
	./institution-service
	./staff-service
	./notification-service
	./client-engagemant-service
	./queue-managemant-service
)
